<!-- {% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todo(todo, delete_form) %}
    <li class="list-group-item">
        <span class="badge">{{ todo.to_dict().done }}</span>
        Descripción: {{ todo.to_dict().Description }}

        {{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=todo.id)) }}
    </li>
{% endmacro %} -->


{% macro render_todo(todo) %}
    <li>
    
    <li class="list-group-item">
        <span class="badge"> {{todo.to_dict().done}} </span>
        Descripción: {{ todo.to_dict().Description }}</li>
    </li>

{% endmacro %}

